.manage-doctor-container {
  padding: 15px;
  .manage-doctor-title {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .more-info {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    .content-left {
      width: 40%;
    }
    .content-right {
      width: 60%;
    }
  }
  .save-content-doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    background-color: orange;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .create-content-doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    color: white;
    background-color: rgb(11, 93, 216);
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}
